/* Custom CCS for Voluta social*/
body{
	background-color: #231f21;
	width:100%;
	}
@font-face {
  font-family: 'surrounding-reg';
  src: url('../fonts/surrounding-reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/surrounding-reg.otf')  format('opentype'),
	     url('../fonts/surrounding-reg.woff') format('woff'), url('../fonts/surrounding-reg.ttf')  format('truetype'), url('../fonts/surrounding-reg.svg#surrounding-reg') format('svg');
  font-weight: normal;
  font-style: normal;

  font-family: 'TitilliumWeb-Regular';
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/TitilliumWeb-Regular.otf')  format('opentype'),
	     url('../fonts/TitilliumWeb-Regular.woff') format('woff'), url('../fonts/TitilliumWeb-Regular.ttf')  format('truetype'), url('../fonts/TitilliumWeb-Regular.svg#surrounding-reg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*animate brand*/
a.navbar-brand:hover{
  animation: animationFrames linear 1s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: animationFrames linear 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  }

@keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  15% {
    left:-25px;
    transform:  rotate(-5deg) ;
  }
  30% {
    left:20px;
    transform:  rotate(3deg) ;
  }
  45% {
    left:-15px;
    transform:  rotate(-3deg) ;
  }
  60% {
    left:10px;
    transform:  rotate(2deg) ;
  }
  75% {
    left:-5px;
    transform:  rotate(-1deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  15% {
    left:-25px;
    -webkit-transform:  rotate(-5deg) ;
  }
  30% {
    left:20px;
    -webkit-transform:  rotate(3deg) ;
  }
  45% {
    left:-15px;
    -webkit-transform:  rotate(-3deg) ;
  }
  60% {
    left:10px;
    -webkit-transform:  rotate(2deg) ;
  }
  75% {
    left:-5px;
    -webkit-transform:  rotate(-1deg) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

/*end-animate-brand*/
.effetto li a::before,
.effetto li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effetto li a::before {
	margin-right: 10px;
	content: '{';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effetto li a::after {
	margin-left: 10px;
	content: '}';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.effetto li a:hover::before,
.effetto li a:hover::after,
.effetto li a:focus::before,
.effetto li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.modal {
overflow: hidden;
}
.modal-open {
overflow: initial; 
}
@media only screen and (min-width: 320px) and (max-width: 768px){
	.modal { 
	overflow-y: auto;
	overflow-x: hidden;
	}
	.modal-open {
	overflow: hidden; 
	}
}
.btn-lg, .btn, .btn-primary {
border-radius: 0;
}

.buttons{
	float: right;
	margin: 93px -20px -315px -33px;
	padding-top: 0px;
	margin-top: 0;
	}

.buttons .share a {
	display: block;
	width: 74px;
	height: 74px;
	overflow: hidden;
	background-color: #f4f4f4;
	border-radius: 50%;
	border: 2px solid #fff;
	}

.buttons .share ul {
	list-style-type: none;
	padding-left: 10px;
	z-index: 1;
	position: relative;
	width: 3.5em;
	transition: all 1s ease-in-out .2s;
	}

.buttons .share li {
	margin: 7px -6px -28px 0px;
	width: 3.5em;
	transition: all 1s ease-in-out .2s;
	
	}
.buttons a.twitter{
	background: #55acee url(../img/social.png) 11px 19px no-repeat;
		
		}
.buttons a.facebook{
	background: #3b5998 url(../img/social.png) 11px -41px no-repeat; 	
	}
.buttons a.pinterest{
	background: #cb2127 url(../img/social.png) 11px -101px no-repeat; 	
	}
.buttons a.youtube{
	background: #cb2127 url(../img/social.png) 11px -180px no-repeat; 	
	}
.buttons a.instragram{
	background: #416f95 url(../img/social.png) 11px -259px no-repeat; 	
	}	

@media only screen and (min-width: 48em){

.buttons .share li {
	margin: 16px -4px 13px 0px;
	width: 3.5em;
	transition: all 1s ease-in-out .2s;
	}
}

.row-fix{
	padding: 0 15px;
	}
.navbar-default {
	background-color: #fff;
	border-color: transparent;
	box-shadow: 2px 2px 23px #B6B6B6;
	font-weight: bold;
	font-family: "surrounding-reg", sans-serif;
	font-size: 1.3em;
	}
.navbar-default .navbar-nav>li>button:hover {
	background-color: #FCBC63;
	}
.jumbotron img{
	margin: 0 auto;
	}
.jumbotron {
	background-color: #231f21;
	}
	.btn, .btn:hover {
  color: #88a5b1;
}

.btn-primary, .btn-primary:hover, .btn-info, .btn-info:hover, .btn-success, .btn-success:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-inverse, .btn-inverse:hover {
  color: #fff;
}

.btn {
  font: 12px Helvetica;
  padding: 8px 22px 6px;
  margin: 0;
  border: none;
  border-bottom: 3px #aacedd solid;
  text-decoration: none;
  background-image: -moz-linear-gradient(#ffffff, #f8f8f8);
  background-image: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background-image: linear-gradient(#ffffff, #f8f8f8);
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
}
.btn:active {
  position: relative;
  top: 3px;
  border: none;
}

.btn-primary {
  border-bottom: 3px #000609 solid;
  background-image: -moz-linear-gradient(#0079bb, #005888);
  background-image: -webkit-linear-gradient(#0079bb, #005888);
  background-image: linear-gradient(#0079bb, #005888);
}
.btn-primary:hover {
  background-image: -moz-linear-gradient(#009aee, #005888);
  background-image: -webkit-linear-gradient(#009aee, #005888);
  background-image: linear-gradient(#009aee, #005888);
}

.btn-info {
  border-bottom: 3px #206376 solid;
  background-image: -moz-linear-gradient(#71c1d8, #49afcd);
  background-image: -webkit-linear-gradient(#71c1d8, #49afcd);
  background-image: linear-gradient(#71c1d8, #49afcd);
}
.btn-info:hover {
  background-image: -moz-linear-gradient(#99d2e3, #49afcd);
  background-image: -webkit-linear-gradient(#99d2e3, #49afcd);
  background-image: linear-gradient(#99d2e3, #49afcd);
}

.btn-success {
  border-bottom: 3px #2d662d solid;
  background-image: -moz-linear-gradient(#7ec77e, #5bb75b);
  background-image: -webkit-linear-gradient(#7ec77e, #5bb75b);
  background-image: linear-gradient(#7ec77e, #5bb75b);
}
.btn-success:hover {
  background-image: -moz-linear-gradient(#a2d6a2, #5bb75b);
  background-image: -webkit-linear-gradient(#a2d6a2, #5bb75b);
  background-image: linear-gradient(#a2d6a2, #5bb75b);
}

.btn-warning {
  border-bottom: 3px #a86404 solid;
  background-image: -moz-linear-gradient(#fbbc64, #faa732);
  background-image: -webkit-linear-gradient(#fbbc64, #faa732);
  background-image: linear-gradient(#fbbc64, #faa732);
}
.btn-warning:hover {
  background-image: -moz-linear-gradient(#fcd296, #faa732);
  background-image: -webkit-linear-gradient(#fcd296, #faa732);
  background-image: linear-gradient(#fcd296, #faa732);
}

.btn-danger {
  border-bottom: 3px #88201c solid;
  background-image: -moz-linear-gradient(#e37873, #da4f49);
  background-image: -webkit-linear-gradient(#e37873, #da4f49);
  background-image: linear-gradient(#e37873, #da4f49);
}
.btn-danger:hover {
  background-image: -moz-linear-gradient(#eba19e, #da4f49);
  background-image: -webkit-linear-gradient(#eba19e, #da4f49);
  background-image: linear-gradient(#eba19e, #da4f49);
}

.btn-inverse {
  border-bottom: 3px black solid;
  background-image: -moz-linear-gradient(#505050, #363636);
  background-image: -webkit-linear-gradient(#505050, #363636);
  background-image: linear-gradient(#505050, #363636);
  width: 100%;
  font-family: "surrounding-reg", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}
.btn-inverse:hover {
  background-image: -moz-linear-gradient(#696969, #363636);
  background-image: -webkit-linear-gradient(#696969, #363636);
  background-image: linear-gradient(#696969, #363636);
}

.btn-large {
  font-size: 18px;
  padding: 12px 22px 10px;
}

.btn-small {
  font-size: 11px;
  padding: 8px 16px 6px;
}

.btn-mini {
  font-size: 9px;
  padding: 7px 12px 5px;
}

p {
	color: #fff;
	}

#servicios p, #clientes p, #Sobre_Nosotros p, #contacto p, footer{
	height: inherit;
	font-family: "TitilliumWeb-Regular", sans-serif;
	font-size: 1.2em;	
}


@media only screen and (min-width: 48em){
#servicios p {
	height: 16em;
	}
}

@media only screen and (min-width: 62em){
#servicios p {
	height: 23em;
	}
}

h2{
	height: 1.3em;
	background-color: #fff;
	text-align: center;
	font-family: "surrounding-reg", sans-serif;
	}

h3{
	Color:#fff;
	}

@media (min-width: 48em){
.divider-bar{
	height: 11em;
	border: 1px solid #332E2E;
	float: right;
	margin: 5em -1.3em 0 0;
	display:block;
	}
}
.divider-bar-h{
	border: 1px solid #332E2E;
	margin: 2em -1.1em 0 -1.1em;
	display:block;
	}

.icon-wrapper {
	display: inline;
	overflow: hidden;
	padding: 37px 12px 12px 10px;
	background-color: #fff;
	border-radius: 50%;
	}
span.glyphicon-phone-alt {
    font-size: 3.2em;
	}
span.glyphicon-home {
    font-size: 3.2em;
	}
span.glyphicon-envelope {
    font-size: 3.2em;
	}

#footer{
	width:100%;
	height: 2.5em;
	margin-top: 1em;
	border-top: 1px solid #332E2E;
	background-color: #fff;
	color:#000;
	font-weight:bold;
	padding-top: 9px;
	}
#footer p {
	color:#000;
	float: left;
	margin: 0 0 0px;
	}
#footer ul {
	list-style:none;
	}
#footer li {	
	display: block;
	padding-left:1em;
	}
@media (min-width: 48em){
	#footer li {	
	display: inline;
	padding-left:0;
	}
}
#footer ul a{
	color:#000;
	}
a.dropdown-toggle {
color: #000;
}	
.to-top{
	position: fixed;
	right: 0.2%;
	top: 95%;
	}